@import url("css/main.css");

/* HEADER */

.header{
    height: 12rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header__content{
    height: 100%;
}

.img__logo{
    width: 5rem;
    height: 5rem;
}

.header__menu{
    grid-column-start: 3;
    
}

.menu__list{
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.cirle__active:active{
    content: "";
    display: flex;
    height: 1.3rem;
    width: 1.3rem;
    background: linear-gradient(90.08deg, #FE6201 0.05%, #ED4B7C 92.92%);
    border-radius: 2.4rem;
    margin-right: 0.8rem;
    align-items: center;
}

.menu__link{
    display: inline;
    margin-left: 1.8rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #000000;
    text-decoration: none;
    white-space: nowrap;
}

.menu__link:active{
    font-weight: 600;
    
}


.header__button{
    grid-column-start: 8;
}

.button__list{
    margin: 0;
    padding: 0;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.header__login{
    text-decoration: none;
}

/* MAIN BLOCK */

.main-block__container{
    height: 75vh;
    display: grid;
    align-content: center;
   /* align-content: flex-start;
    margin-top: 15rem;*/
}

.main-block__background{
    position: absolute;
    width: 89.4rem;
    height: 46.7rem;
    right: -27rem;
    top: 2.2rem;
    background: url(img/eagle.png);
     background-size: cover;
    /*background-position: center; */
    background-repeat: no-repeat;
    z-index: -1;
}

.main-block__title{
    font-style: normal;
    font-weight: 700;
    font-size: 6rem;
    line-height: 7rem;
    color: #2B283A;
    margin: 0;
    margin-bottom: 4.9rem;
}

.main-block__text{
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #6B6B6B;
    margin-bottom: 4.4rem;
}

/* BANNER */
.banner{
    height: 17.7rem;
    background: #FFFFFF;
    /*box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);*/
    border-radius: .8rem;
    display: grid;
    align-content: center;
}

.banner__title{
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.8rem;
    color: #2B2B3A;
    padding-bottom: 3rem;
    margin: 0;
    border-bottom: .1rem solid black;

}

.banner__link{
    height: 4.1rem;
    background: linear-gradient(90.08deg, #FE6201 0.05%, #ED4B7C 99.92%);
    box-shadow: 0rem .4rem .4rem rgba(254, 98, 1, 0.3);
    border-radius: .8rem;
    display: grid;
    align-items: center;
    justify-items: center;

    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.banner__link:first-of-type{
    grid-column-start: 7;
}


